* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    background-color: lightgray;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    height: 20%;
    border: 3px solid gray;
    border-style: groove;
    text-align: right;
    font-size: 2.2rem;
    padding: 5px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.row {
    display: flex;
    gap: 10px;
}

.row > :last-child, #equals {
    background-color: black;
    color: white;
}

#delete {
    background-color: red;
    color: white;
}

button {
    flex: 1;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
}

