* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

form, #form, #form2, #form3 {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 15px;
    margin-top: 10px;
    background: linear-gradient(40deg, gray 0%, rgb(150, 143, 143) 75%, rgb(65, 57, 57) 100%);
    margin: 10px auto;
}

input {
    font-size: 1.5rem;
    text-align: end;
    padding: 5px;
}

#ope {
    width: 100px;
}

button {
    background-color: blue;
    padding: 5px;
    margin-top: 5px;
    width: 100px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    margin: 10px auto;
    font-size: 1.5rem;
    text-align: end;
    padding: 5px;
    resize: none;
}

.message {
    height: 50px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    padding: 5px;
}

.box {
    padding: 10px;
}

.box h2 {
    text-align: center;
}