* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
}


/* increment box */

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    align-items: center;
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
}
.incrementBox {
    font-size: 4rem;
    height: 300px;
}

.vocabsBuilder input, .greetMeBox input {
    font-size: 1.2rem;
    padding: 5px;
}

button {
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    width: 100%;
    cursor: pointer;
}

/* Vocabs builder*/

.vocabsBuilder {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
    background: linear-gradient(15deg, rgb(235, 211, 211), rgb(63, 57, 57), gray)
}

#answerBox, .greetingBox {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    padding: 5px;
    font-size: 1.3rem;
}

/* greetings */

.greetMeBox {
    height: 400px;
    background: linear-gradient(15deg, rgb(235, 211, 211), rgb(63, 57, 57), gray)
}

.sampleBox {
    flex-direction: column;
    height: 200px;
    background: linear-gradient(15deg, rgb(235, 211, 211), rgb(63, 57, 57), gray);
    padding: 10px;
}