.container {
    margin-top: 20px;
    display: flex;
    justify-content:center;

}
canvas {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.controls {
    margin-top: 10px;
}
.control-button {
    margin-right: 10px;
}
.canvas-container {
    position: relative;
}
.canvas-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.canvas-cell {
    position: relative;
}
.canvas-cell canvas {
    border: 1px solid black;
}

.controls .btn {
    width: 200px;
    margin-left: 10px;
}

.writeit-table {
    text-align: center;
}